.admin-header
  position: relative
  height: 70px
  display: flex
  align-items: center
  padding: 0 20px

  background: #0A0A0A
  overflow: hidden

  &::before,
  &::after
    content: ""
    position: absolute
    width: 320px
    height: 320px
    border-radius: 50%
    filter: blur(90px)
    pointer-events: none

  
  &::before
    top: -180px
    left: -120px
    background: radial-gradient(circle,
      rgba(212,175,55,.28) 0%,
      rgba(255,255,255,.10) 30%,
      transparent 75%)

  
  &::after
    top: -180px
    right: -120px
    background: radial-gradient(circle,
      rgba(212,175,55,.28) 0%,
      rgba(255,255,255,.10) 30%,
      transparent 75%)